body {
  margin: 20% auto;
  width: 25%;
  height: 75%;
  border: 10px solid blueviolet;
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.functions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.first-number, .second-number, .results {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: blueviolet;
  color: white;
  margin: 10px;
  height: 20px;
  width: 55px;
}